GoSublime/*
Package Control.cache/*
Package Control.last-run
Package Control.merged-ca-bundle
GoSublime-aux.sublime-settings
SublimeLinter/*
serial_monitor_last_used.sublime-settings
subupy.sublime-settings
